<div class="page">
    <div class="center">
        <mat-card class="card-custom card mat-elevation-z6">
            <mat-card-title class="mat-card-title-custom" style="margin-top: 5%;">{{ '403.title' | translate }}</mat-card-title>
            <mat-card-subtitle class="center" style="margin-bottom: 0; font-weight: bolder;">{{ '403.subTitle' | translate }}</mat-card-subtitle>
            <img mat-card-image class="card-image" src="../../assets/logo-whiteback-round.png" alt="ishelp-logo">
            <mat-card-content>
            </mat-card-content>
            <mat-card-title class="center" style="margin-bottom: 7%; font-size: 3em;">403</mat-card-title>
            <mat-card-title class="center" style="margin-bottom: 7%;">{{ '403.error' | translate }}</mat-card-title>
            <mat-card-actions class="center">
                <button (click)="back()" mat-raised-button color="primary" style="margin-bottom: 5%;">{{ '403.back' | translate }}</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>