@use "@angular/material" as mat;
@import "../../styles.scss";

.mat-toolbar {
  height: 60px;
  margin: 0 0;
  padding: 0 0;
  color: mat.get-color-from-palette($mat-blue-custom, 500);
  background-color: mat.get-color-from-palette($mat-grey-custom, 50);
}

.img {
  height: 60px;
  margin: 0 0;
  padding: 0 0;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-titles {
  margin: 5px 5px 5px 5px;
  font-size: 20px;
  height: 45px;
  overflow: hidden;
}

.header-login {
  margin: 0px 5px 0px 0px;
  font-size: 15px;
  height: 45px;
  color: mat.get-color-from-palette($mat-grey-custom, 50);
  background-color: mat.get-color-from-palette($mat-blue-custom, 500);
}

.header-signup {
  margin: 0px 5px 0px 0px;
  font-size: 15px;
  height: 45px;
  color: mat.get-color-from-palette($mat-grey-custom, 50);
  background-color: mat.get-color-from-palette($mat-blue-custom, 50);
}

.active-link{
  color: mat.get-color-from-palette($mat-grey-custom, 50);
  background-color: mat.get-color-from-palette($mat-grey-custom, 700);
  font-weight: bold;
}