<mat-toolbar class="mat-elevation-z6 header">
    <a href="#" class="img"><img src="../../assets/logo-text-whiteback.png" class="img"></a>
    <button  mat-button routerLink="/event" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}"
        *ngIf="isAdmin" class="mat-focus-indicator mat-button-base header-titles" #btnRef="matButton" color="ishelp-accent">
        <span class="mat-button-wrapper">{{ 'header.title1' | translate }}</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </button>
    <span class="header-spacer"></span>
    <span *ngIf="isDisabled">{{ 'header.welcome' | translate }}{{ username }}</span>
    <button mat-icon-button class="icon-button" [matMenuTriggerFor]="menu">
        <span class="iconify icon" data-icon="ic:outline-language"></span>
    </button>   
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="lang('fr')">
            <span>Français</span>
        </button>
        <button mat-menu-item (click)="lang('en')">
            <span>English</span>
        </button>
    </mat-menu>
    <button (click)="logout()" *ngIf="isDisabled" mat-button class="mat-focus-indicator mat-button-base header-logout">
        <span class="mat-button-wrapper">{{ 'header.LogoutButton' | translate }}</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </button>
    <button routerLink="home" *ngIf="!isDisabled" mat-button class="mat-focus-indicator mat-button-base header-login">
        <span class="mat-button-wrapper">{{ 'header.LoginButton' | translate }}</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </button>
    <button *ngIf="!isDisabled" mat-button class="mat-focus-indicator mat-button-base header-signup">
        <span class="mat-button-wrapper">{{ 'header.signUpButton' | translate }}</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
    </button>
</mat-toolbar>
<nav
	*ngIf="isDisabled"
	class="header-under"
	mat-tab-nav-bar
	mat-align-tabs="center"
	color="accent"
	[tabPanel]="tabPanel"
>
	<a
		class="nav"
		mat-tab-link
		*ngFor="let link of links"
		[routerLink]="link.link"
		(click)="activeLink = link"
		routerLinkActive
		#rla="routerLinkActive"
		[active]="rla.isActive"
	>
		{{ link.title | translate }}
	</a>
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
