@use '@angular/material' as mat;
@import '../../styles.scss';

.body {
	display: flex;
	flex-flow: column;
	height: 100%;
}

.about-us-top-picture {
	background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(#0257b1, 0.75)),
		url(../../assets/pictures/homePage.png);
	flex: 1 1 auto;
	height: 30%;
	background-size: cover;
	text-align: end;
	vertical-align: middle;
	position: relative;
}

.picture-title {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 5%;
	margin: auto;
	height: 20px;
	font-weight: 550;
	font-size: 3em;
	color: white;
}

.picture-title:hover {
	color: mat.get-color-from-palette($mat-grey-custom, 500);
}

.grid {
	height: 100%;
}

.grid-div {
	flex: 1 1 70%;
	margin: 1%;
}

.tile {
	height: fit-content;
	background-color: green;
}
