<div class="body">
    <div class="showcase-top-picture">
        <a routerLink='/AboutUs' class="picture-title">{{ 'showcase.pictureLink' | translate }}</a>
    </div>
    <div class="grid-div">
        <mat-grid-list class="grid" cols="4" rowHeight="fit" gutterSize="1%" >
            <mat-grid-tile class="tile" colspan="1" rowspan="1">
            </mat-grid-tile>
            <mat-grid-tile class="tile" colspan="1" rowspan="1">
            </mat-grid-tile>
            <mat-grid-tile class="tile" colspan="2" rowspan="1">3</mat-grid-tile>
        </mat-grid-list>
    </div>
