<div class="page">
	<span class="body-spacer"></span>
	<div class="center">
		<mat-card class="card-custom card mat-elevation-z6">
			<mat-card-title class="mat-card-title-custom" style="margin-top: 5%">{{
				'404.title' | translate
			}}</mat-card-title>
			<mat-card-subtitle class="center" style="margin-bottom: 0; font-weight: bolder">{{
				'404.subTitle' | translate
			}}</mat-card-subtitle>
			<img mat-card-image class="card-image" src="../../assets/logo-whiteback-round.png" alt="ishelp-logo" />
			<mat-card-content> </mat-card-content>
			<mat-card-title class="center" style="margin-bottom: 7%; font-size: 3em">404</mat-card-title>
			<mat-card-title class="center" style="margin-bottom: 7%">{{ '404.error' | translate }}</mat-card-title>
			<mat-card-actions class="center">
				<button (click)="back()" mat-raised-button color="primary" style="margin-bottom: 5%">
					{{ '404.back' | translate }}
				</button>
			</mat-card-actions>
		</mat-card>
	</div>
	<span class="body-spacer"></span>
</div>
