<div class="body">
    <span class="body-spacer"></span>
    <div class="grid-div">
        <mat-grid-list class="grid" cols="3" rowHeight="fit" gutterSize="3%">
            <mat-grid-tile class="tile mat-elevation-z6" colspan="2" rowspan="1">
                <mat-card class="events-card">
                    <mat-card-header style="padding-top: 16px;">
                        <mat-card-title class="mat-title margin-card header-card">
                            <h1 class="mat-h1 header-card">{{(application$ | async)?.user?.firstName}} {{(application$ | async)?.user?.lastName}}</h1>
                        </mat-card-title>
                    </mat-card-header>
                    
                    <div class="event-info">
                        <label for="" class="apply-label">{{ 'apply.object' | translate }}</label>
                        <div class="apply-div">{{(application$ | async)?.object}}</div> <br>
    
                        <label for="" class="apply-label">{{ 'apply.motivationText' | translate }}</label>
                        <div class="apply-div">{{(application$ | async)?.motivations}}</div> <br>
    
                        <label for="" class="apply-label">{{ 'apply.experienceText' | translate }}</label>
                        <div class="apply-div">{{(application$ | async)?.resume}}</div> <br>
    
                        <label for="" class="apply-label">{{ 'apply.contact' | translate }}</label>
                        <div class="apply-div">{{(application$ | async)?.contact}}</div> <br>
    
                        <label for="" class="apply-label">{{ 'apply.file' | translate }} <span class="blue">(facultatif)</span></label>
                        <div>fichier.pdf</div> <br>

                    </div>

                    <div>
                        <button (click)="changeStatus('ACCEPTED')" mat-button class="mat-focus-indicator mat-button-base header-reject">{{ 'apply.refuse' | translate }}</button>
                        <button (click)="changeStatus('REFUSED')" mat-button class="mat-focus-indicator mat-button-base header-accept">{{ 'apply.accept' | translate }}</button>
                    </div>
                </mat-card>
            </mat-grid-tile>
            
            <mat-grid-tile class="tile mat-elevation-z6" colspan="1" rowspan="1">
                <app-user-card style="margin: 16px;">
                </app-user-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>.
    <span class="body-spacer"></span>
</div>