@use "@angular/material" as mat;
@import "../../styles.scss";

.body {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.body-spacer, .event-spacer, .user-events {
    flex: 1 1 auto;
}

.grid {
    height: 100%;
}

.grid-div{
    flex: 1 1 100%;
    margin: 2%;
    height: 100%;
    max-height: 800px;
}

.tile {
    height: fit-content;
    border-radius: 20px;
}

.events-card, .user-card {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.margin-card {
    margin: 15px 15px;
}

.header-card {
    font-weight: 600;
}

.event-date {
    text-transform: uppercase;
    margin-bottom: 7px;
    margin-left: 7px;
    font-weight: 500;
}

.event-card {
    border-radius: 10px;
    width: 100%;
    background-color: mat.get-color-from-palette($mat-blue-custom, 500);
    color: mat.get-color-from-palette($mat-grey-custom, 50);
}

.event-list {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.mat-list-base .mat-list-item.mat-3-line {
    margin-bottom: 35px;
    margin-top: 15px;
}

mat-list {
    overflow: auto;
}

.event-tab {
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

img{
    width: 80%;
    clip-path: circle();
    margin: 10px auto;
    max-width: 200px;
    max-height: 200px;
}

.profileName {
    width: 100%;
    text-align: center;
    font-weight: 600;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 16px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    border-radius: 20px;
    background: mat.get-color-from-palette($mat-blue-custom, 500); /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: mat.get-color-from-palette($mat-grey-custom, 50);; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid mat.get-color-from-palette($mat-blue-custom, 500); /* creates padding around scroll thumb */
}

.event-info {
    display: flex;
    flex-flow: column;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    height: 100%;
}

.info {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 400;
}

.info-header {
    font-weight: 500;
    color: mat.get-color-from-palette($mat-blue-custom, 500)
}

.description {
    overflow: auto;
    line-break: strict;
    height: 100%;
    text-align: justify;
}

.inscription-tab {
    display: flex;
    flex-direction: row;
}

.event-signup {
    color: mat.get-color-from-palette($mat-grey-custom, 50);
    background-color: mat.get-color-from-palette($mat-blue-custom, 500);
}

.event-signout {
    color: mat.get-color-from-palette($mat-grey-custom, 50);
    background-color: mat.get-color-from-palette($mat-blue-custom, 50);
}