<div class="body">
    <span class="body-spacer"></span>
    <div class="grid-div">
        <mat-grid-list class="grid" cols="3" rowHeight="fit" gutterSize="3%">
            <mat-grid-tile class="tile mat-elevation-z6" colspan="2" rowspan="1">
                <mat-card class="base-card">
                    
                </mat-card>
                
            </mat-grid-tile>
            <mat-grid-tile class="tile mat-elevation-z6" colspan="1" rowspan="1">
                <app-user-card>
                </app-user-card>
            </mat-grid-tile>
            
        </mat-grid-list>
    </div>
</div>
