<mat-card class="base-card user-card" style="box-shadow: none;">
    <div style="height: 10px;"></div>
    <img src={{profilePictureUrl}}>
    <mat-card-header class="profileName" style="margin-bottom: 7%;">
        <mat-card-title  class="mat-title"><h1 class="mat-h1 profileName">{{ userLastName$ | async }} {{ userFirstName$ | async }}</h1></mat-card-title>
    </mat-card-header>
    <span class="event-spacer"></span>
    <mat-card-header class="profileName">
        <mat-card-title  class="mat-title header-card"><h1 class="mat-h1 header-card"> {{ 'eventList.titleUser'| translate }}</h1></mat-card-title>
    </mat-card-header>
    <mat-list class="custom-list" style="margin-bottom: 16px">
        <span *ngIf="eventsUserNumber === 0">
            <mat-list-item class="mat-list-item " style="width: 100%; height: 100%;">
                <a style="width: 100%; height: 100%;">
                    <div style="width: 100%;">
                        <mat-card class="event-card mat-elevation-z3 no-event" style="width: 100%; height: 100%;"> 
                            <div class="no-event">{{ 'eventList.noEvent'| translate }}</div>
                        </mat-card>
                    </div>
                </a>
            </mat-list-item>
        </span>
        <mat-list-item class="mat-list-item" style="height: fit-content; width: 100%; min-width:fit-content"*ngFor="let event of eventsUser">
            <a style="width: 100%;" [routerLink]= "['/event/',event.eventId]" (click)="reload(event.eventId)">
                <div class="event-list">
                    <div mat-line class="event-date">{{event.date |  date: 'fullDate':'':lang}}</div>
                    <mat-card class="event-card mat-elevation-z3">
                        <div class="event-tab">
                            <div class="event-tab-left">
                                <spa mat-line style="font-weight: 550;">{{event.name}}</spa>
                                <span *ngIf="(event.location !== null && event.startingCampus === null)" style="font-weight: 100;">{{event.location}}</span>
                                <span *ngIf="(event.location !== null && event.startingCampus !== null)" style="font-weight: 100;">{{event.startingCampus}}, {{event.location}}</span>
                                <span *ngIf="(event.location === null && event.startingCampus !== null)" style="font-weight: 100;">{{event.startingCampus}}</span>
                            </div>
                            <span class="event-spacer"></span>
                            <div class="event-tab-right">
                                <div *ngIf="event.startingTime !== null" mat-line>{{"2022-01-01T" + event.startingTime |  date: 'shortTime':'':lang}}</div>
                                <span *ngIf="event.endingTime !==null">{{"2022-01-01T" + event.endingTime |  date: 'shortTime':'':lang}}</span>
                            </div>
                        </div>
                    </mat-card>
                </div>
            </a>
        </mat-list-item>
    </mat-list>
</mat-card>
