<div class="body">
    <h1>Liste des produits en stock</h1>
    <div class="container">
        <div class="card-options">
            <div class="options">
                <input type="text" name="search" class="form-control" placeholder="Chercher un produit" [(ngModel)]="filteredString"> 
                <button mat-raised-button style="margin-top: 5%;"color="primary" (click)="goToAddProduct()">Ajouter un produit</button>
            </div>
            
        </div>
        <div class="row">
            <ng-container *ngFor="let product of productList | filter:filteredString">
                <div class="content">
                    <div class="forNotif">
                        <button class="buttonNotif" *ngIf="diffBetweenTwoDate(currentDate,product.peremptionDate)<=14" mat-icon-button (click)="seeMessage()" color="warn" >
                            <mat-icon class="notification">notification_important</mat-icon>
                        </button>
                    </div>
                    <div class="card">  
                        <div class="product-card image">
                            <div *ngIf="product.image === '' ">
                                <img src="../../../assets/logo-whiteback-square.png" alt="">
                            </div>
                            <div *ngIf="product.image !== '' ">
                                <img src="{{'data:image/jpg;base64,' + product.image}}">
                            </div>
                        </div>
                        <div class="product-card information">
                            <h3>{{product.name}}</h3>
                            <p>DDM : {{product.peremptionDate | date}}</p>
                            <!--<p>DLC : {{product.consumptionDate | date}}</p>-->
                            <p>Quantité : {{product.quantity}}</p>
                        </div>
                        <div class="product-card description">
                            <p>{{product.description}}</p>
                            <button mat-icon-button (click)="editProduct(product.productId)">
                                <mat-icon>create</mat-icon>
                            </button>
                            <button mat-icon-button (click)="deleteProduct(product)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
